.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    

}

.pic-container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 100px;
    
}
.pic{
    width: 100%;
    height: 100vh;
    
    
}
@media only screen and (max-width: 600px){
  
    
}


/* .title{
    width: 750px;
    height: 70vh;
    border-radius: 50px;
    background-color: #804FB3;
    margin: 99px;
} */
