
.navbar{
    float: left;
    position: absolute;
}

.contact{
    position: absolute;
    bottom: 0;
    right: 0;
}
.aboutContainer{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 102vh;
    /* 605px */
    background-color: antiquewhite;
}
@media only screen and (max-width: 600px){
    
    .aboutContainer{margin-top: -13px;}
    
}

@media only screen and (max-width: 900px){
    
    .aboutContainer{margin-top: -13px;}
    
}
@media only screen and (min-width: 900px) and (max-width: 1300px){
    
    .aboutContainer{margin-top: -13px;}
    
}
@media only screen and (min-width:1301px){
    .aboutContainer{margin-top: -13px;}
}
.educationContainer{
    position: absolute;
    top:204vh;
    /* 1210px */
    width: 100%;
    height: 100vh;
    background-color: lightcoral;
}
@media only screen and (max-width: 600px){
    
    .educationContainer{margin-top: -27px;}
    
}

@media only screen and (max-width: 900px){
    
    .educationContainer{margin-top: -27px;}
    
}
@media only screen and (min-width: 900px) and (max-width: 1300px){
    
    .educationContainer{margin-top: -27px;}
    
}
@media only screen and (min-width:1301px){
    .educationContainer{margin-top: -27px;}
}
.experienceContainer{
    position: absolute;
    top:306vh;
    /* 1813px */
    width: 100%;
    height: 100vh;
    background-color: burlywood;
}

@media only screen and (max-width: 600px){
    
    .experienceContainer{margin-top: -40px;}
    
}

@media only screen and (max-width: 900px){
    
    .experienceContainer{margin-top: -40px;}
    
}
@media only screen and (min-width: 900px) and (max-width: 1300px){
    
    .experienceContainer{margin-top: -40px;}
    
}
@media only screen and (min-width: 1301px){
    .experienceContainer{margin-top: -40px;}
}
.workContainer{
    position: absolute;
    top:399vh;
    /* 2363px */
    width: 100%;
    height: 100vh;
    background-color: rgb(129, 60, 60);
}