.aboutCont{
    margin: 0;
  position: relative;
  top: 15%;
}

.aboutTitle{
    text-align: center;
}
.fullStack{
   
    text-align: center;
}
.fs{
    font-size: 30px;
    
}
@media only screen and (max-width: 600px){
    
    .fs{
        
        font-size: 45px;}
    
}

@media only screen and (min-width:600px) and ( max-width: 900px){
    
    .fs{  
        font-size: 45px;}
    
}
@media only screen and (min-width: 900px){
    
    .fs{
        
        font-size: 55px;}
    
}
.uiux{
   
    text-align: center; 
}

.analyst{
    
    text-align: center;
}
